* {
  font-family: 'Open Sans';
  margin: 0;
  padding: 0;
}

body {
  background-color: #E3E8ED;
}

.chat {
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 2px 17px rgba(0,0,0, 0.15);
  background-color: #e9ecf2;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 700px;
  height: 500px;
}

.chat .new_message {
  background-color: blue;
  height: 60px;
}

.chat .new_message input::-webkit-input-placeholder { color:#cccccc;}
.chat .new_message input::-moz-placeholder { color:#cccccc; } /* firefox 19+ */
.chat .new_message input:-ms-input-placeholder { color:#cccccc; } /* ie */
.chat .new_message input:-moz-placeholder { color:#cccccc; }

.chat .new_message input {
  border: none;
  outline: none;
  float: left;
  display: inline-block;
  font-size: 16px;
  background-color: #F6FAFB;
  height: 100%;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0.08);
  margin: 0 10px;
  padding: 0 15px;
  border-radius: 2px;
  width: calc(100% - 20px - 30px);
  color: #2f2f2f;
}

.chat .messages {
  color: white;
  font-size: 13px;
  position: absolute;
  top: 0px;
  bottom: 55px;
  left: 10px;
  right: 10px;
  overflow: scroll;
}

.chat .messages .message {
  display: inline-block;
  word-wrap: break-word;
  margin: 5px 0;
  min-width: 30%;
  max-width: 60%;
  padding: 10px;
  border-radius: 12px;
  clear: both;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
.chat .messages .message_body {
  display: block;
}

.chat .messages .message.left {
  border-bottom-left-radius: 0px;
  display: block;
  color: #3A3E3E;
  background-color: #F6FAFB;
  /*box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);*/

}

.chat .messages .message.right {
  border-bottom-right-radius: 0px;
  float: right;
  color: white;
  background-color: #544EA7;
}

.chat .messages .message_full .name {
  display: block;
  color: rgba(187, 180, 180, 0.7);
  margin-bottom: 3px;
  margin-top: 5px;
  margin-left: 1px;
  font-size: 11px;
}

.chat .messages .message_full {
  display: block;
  overflow:hidden;
  padding: 0 5px;
}

.message_controls {
  position: absolute;
  height: 50px;
  bottom: 10px;
  left: 0;
  right: 0px;
}
